body {
  /* background-image: url(./mosiac.jpg); */
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  width: 100vw;
  height: 100vh;
}

#left-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 5vw;
  width: 100%;
}
