body {
  /* background-image: url(./mosiac.jpg); */
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  width: 100vw;
  height: 100vh;
}

#left-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 5vw;
  width: 100%;
}

#logo-text  {
  margin-top: 30vh;
}

#right-side {
  display:flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(248, 247, 246);
  padding: 10px;
}

#intro {
  margin-bottom: 20px;
}

fieldset {
  display: flex;
  gap: 70px;
  justify-content: flex-start;
  background-color: white;
  margin-bottom: 20px;
}

.left-form,
.right-form {
  display: flex;
  flex-direction: column;
}