body {
  /* background-image: url(./mosiac.jpg); */
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  width: 100vw;
  height: 100vh;
}

#left-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 5vw;
  width: 100%;
}

#logo-text  {
  margin-top: 30vh;
}

#right-side {
  display:flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(248, 247, 246);
}

#intro {
  margin-bottom: 20px;
  padding: 10px;
}

fieldset {
  display: flex;
  gap: 70px;
  justify-content: flex-start;
  background-color: white;
  border: none;
  margin: 0 0 20px 0;
  box-shadow: 0 5px 2px rgb(219, 214, 214);
}

.left-form,
.right-form {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 10px;
}

.right-form {
  justify-content: flex-end;
}

button  {
  margin-bottom: 20px;
}

#btn-contr {
  margin-left: 25px;
}