:root {
  --light-txt-color: aliceblue;
}

body {
  background-image: url(./mosiac.jpg);
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  width: 100vw;
  height: 100vh;
}

#left-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

#logo {
  height: 65px;
}

#logo-text  {
  font-family: "ZCOOL KuaiLe";
  font-size: 2.2rem;
  display: flex;
  margin-top: 30vh;
  background-color: rgb(0, 0, 0, 0.5);
  height: 75px;
  justify-content: center;
  align-items: center;
  color: var(--light-txt-color);
  gap: 7.5px;
}

#img-credit {
  text-align: center;
  margin-bottom: 1vh;
  font-size: 0.8rem;
  color: var(--light-txt-color);
}

#right-side {
  display:flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(248, 247, 246);
}

#intro {
  margin-bottom: 20px;
  padding: 10px;
  font-weight: 500;
}

fieldset {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 0 60px;
  margin: 0 0 20px;
  font-size: 0.6rem;
  font-weight: 500;
  border: none;
  background-color: white;
  box-shadow: 0 5px 2px rgb(219, 214, 214);
}

#do-this {
  grid-column: span 2;
  margin: 1rem 1rem 1rem 0;
  font-weight: bold;
  font-size: 1.2rem;
}

input {
  margin-bottom: 0.8rem;
  font-size: 1rem;
  line-height: 1.3rem;
}

#password {
  margin-bottom: 0.1rem;
}

input:focus {
  outline: none;
  border: 1.5px solid blue;
  border-radius: 2px;
  box-shadow: 2.5px 2.5px 2.5px rgb(187, 183, 183);
}

#password:focus,
#check-password:focus {
  outline: none;
  border: 1.5px solid red;
  border-radius: 2px;
}

#psw-req {

}

button  {
  margin-bottom: 1.2rem;
}

#intro,
fieldset,
#btn-contr {
  padding-left: 30px;
}

button {
  width: 180px;
  padding: 8px;
  border-radius: 8px;
  background-color: rgb(11, 129, 133);
  color: var(--light-txt-color);
  font-weight: bold;
  font-size: 0.8rem;
}